---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Card from "@/components/Card.astro";
import StarsBackground from "@/components/StarsBackground.astro";
import ScrollIcon from "@/components/icons/ScrollIcon.astro";
import Orbit from "@/components/Orbit.astro";
import BentoGrid from "@/components/BentoGrid.astro";
---

<Layout title="Portfolio - Robert Iskandarani">
  <main class="w-full">
    <SectionContainer class="flex h-dvh justify-center items-center relative">
      <Card />
      <ScrollIcon
        class="hidden md:block md:absolute md:bottom-3 md:animate-bounce"
      />
    </SectionContainer>

    <SectionContainer
      id="Proyectos"
      class="min-h-dvh flex flex-col justify-center items-center relative"
    >
      <h1 class="text-white text-3xl md:text-6xl font-bold my-8">
        Mis proyectos
      </h1>
      <BentoGrid />
      <span
        class="absolute top-2/5 w-3/4 h-3/4 rounded-full -z-40 bg-[#2d2d2d]/60 blur-3xl drop-shadow-[0_0_5px_rgba(255,255,255,.5)]"
      ></span>
    </SectionContainer>

    <SectionContainer
      id="Tecnologias"
      class="flex min-h-dvh justify-center items-center relative my-16"
    >
      <Orbit />
    </SectionContainer>
    <StarsBackground />
  </main>
</Layout>
