---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Card from "@/components/Card.astro";
---

<Layout title="Portfolio - Robert Iskandarani">
  <main class="w-full">
    <SectionContainer
      class="intro -z-1 h-screen flex justify-center items-center bg-[url('src/assets/stars.png')] bg-auto bg-fixed"
    >
      <Card client:load />
    </SectionContainer>
    <SectionContainer id="experiencia" class="h-screen bg-red-500" />
  </main>
</Layout>
