---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Card from "@/components/Card.astro";
import StarsBackground from "@/components/StarsBackground.astro";
import ScrollIcon from "@/components/icons/ScrollIcon.astro";
---

<Layout title="Portfolio - Robert Iskandarani">
  <main class="w-full">
    <SectionContainer class="flex h-dvh justify-center items-center relative">
      <Card />
      <ScrollIcon
        class="hidden md:block md:absolute md:bottom-3 md:animate-bounce"
      />
    </SectionContainer>

    <StarsBackground />
  </main>
</Layout>
