---
import GridItem from "@/components/GridItem.astro";
---

<div
  class="w-4/5 lg:w-2/3 grid place-content-center md:grid-cols-2 lg:grid-cols-5 grid-cols-1 gap-4 max-w-4/5 auto-rows-[300px]"
>
  <GridItem
    href="https://nu-world.vercel.app/"
    class="lg:col-start-1 lg:col-end-4"
  >
    <img
      slot="image"
      src="/projects/NUWD.webp"
      alt="NUWD"
      class="absolute inset-0 w-full h-auto group-hover:scale-110 transition-scale duration-300"
    />
  </GridItem>
  <GridItem
    href="https://100-days-of-css-coral.vercel.app/"
    class="lg:col-start-4 lg:col-end-6"
  >
    <img
      slot="image"
      src="/projects/css-personal.webp"
      alt="100 Days of CSS"
      class="absolute inset-0 w-full h-auto scale-150 my-auto group-hover:scale-[160%] transition-scale duration-300"
    />
  </GridItem>
  <GridItem
    href="https://100-macabeos-dicen.vercel.app/"
    class="lg:col-start-1 lg:col-end-3"
  >
    <img
      slot="image"
      src="/projects/100-macabeos-dicen.webp"
      alt="100 macabeos dicen"
      class="absolute inset-0 w-full h-auto scale-150 my-auto group-hover:scale-[160%] transition-scale duration-300"
    />
  </GridItem>
  <GridItem
    href="https://iomha.vercel.app/"
    class="lg:col-start-3 lg:col-end-6"
  >
    <img
      slot="image"
      src="/projects/iom-ha-madrij.webp"
      alt="iom ha madrij"
      class="absolute inset-0 w-full h-auto group-hover:scale-110 transition-scale duration-300"
    />
  </GridItem>
</div>
