---

---

<article
  id="card-container"
  class="[perspective:1000px] w-11/12 sm:w-3/5 flex justify-center"
>
  <div
    id="ticket"
    class="w-full aspect-[9/12] max-h-[500px] max-w-[750px] sm:aspect-[16/9] rounded-2xl relative drop-shadow-[0px 5px 15px rgba(0, 0, 0, 0.12)] overflow-hidden"
  >
    <div
      class="w-full h-full flex flex-col-reverse sm:flex-row justify-center sm:justify-start items-center sm:items-end gap-2 sm:gap-8 p-4"
    >
      <div
        id="title-container"
        class="w-11/12 sm:w-3/4 sm:h-full flex flex-col justify-start sm:justify-center items-center sm:items-start sm:px-8 py-1 sm:py-0"
      >
        <h1
          class="transition-all duration-300 text-center sm:text-left text-white text-2xl sm:text-3xl md:text-5xl lg:text-7xl font-bold text-balance my-2 uppercase"
        >
          Hola, soy Robert!
        </h1>
        <h2
          class="transition-all duration-300 text-center sm:text-left text-white/80 text-xs sm:text-md md:text-lg lg:text-xl uppercase m-0 w-full"
        >
          <span class="text-sky-400">Frontend Developer</span>
          <br />
           con conocimiento en Backend
        </h2>
      </div>

      <img
        id="profile-img"
        src="/profile.webp"
        alt="Profile"
        class="h-3/5 sm:h-[110%] sm:w-auto block sm:absolute sm:right-0 sm:-bottom-4"
      />
    </div>
    <div
      id="bg"
      class="absolute inset-0 w-full h-full bg-[#070707]/60 rounded-2xl -z-50 backdrop-blur-[1px]"
    >
    </div>
  </div>
</article>

<style>
  #ticket {
    transition:
      transform 0.5s ease-in-out,
      scale 0.5s ease-in-out;
  }

  #ticket:hover {
    transition: scale 0.5s ease-in-out;
    scale: 1.1;
  }

  #profile-container,
  #title-container,
  #profile-img {
    z-index: -1;
  }
</style>

<script src="../scripts/card.js"></script>
