---
import NavLinkButton from "./NavLinkButton.astro";
---

<header class="w-full fixed top-0 py-5 flex justify-center z-10">
  <nav class="relative p-[1px] overflow-hidden rounded-3xl">
    <span
      class="absolute inset-[-1000%] animate-[spin_5s_linear_infinite] bg-[conic-gradient(from_45deg_at_50%_50%,rgba(255,255,255,.5),rgba(255,255,255,0.25),rgba(255,255,255,0),rgba(255,255,255,0.25),rgba(255,255,255,.5))]"
    ></span>
    <ul
      class="flex text-white gap-2 bg-[#070707] rounded-3xl py-1 px-2 sm:px-3 relative"
    >
      <NavLinkButton href="#Experiencia" title="Experiencia" />
      <NavLinkButton href="#Proyectos" title="Proyectos" />
      <NavLinkButton href="#Tecnologias" title="Tecnologías" />
    </ul>
  </nav>
</header>
