---
import NavLinkButton from "./NavLinkButton.astro";

const navItems = [
  {
    title: "Experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    url: "/#proyectos",
  },
  {
    title: "Tecnologías",
    url: "/#tecnologias",
  },
];
---

<header
  class="w-full fixed top-0 py-5 flex justify-center z-10 animate-[enhance-header_linear_both]"
>
  <nav class="relative p-[1px] overflow-hidden rounded-3xl">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_45deg_at_50%_50%,rgba(255,255,255,.5),rgba(255,255,255,0.25),rgba(255,255,255,0),rgba(255,255,255,0.25),rgba(255,255,255,.5))]"
    ></span>
    <ul
      class="flex text-white gap-2 bg-[#070707] rounded-3xl py-1 px-2 sm:px-3 relative"
    >
      {
        navItems.map((link) => (
          <NavLinkButton href={link.url} title={link.title} />
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    animation-timeline: scroll(root);
    animation-range: 50vh 100vh;
  }

  @keyframes enhance-header {
    to {
      background-color: rgba(7, 7, 7, 0.4);
      backdrop-filter: blur(5px);
    }
  }
</style>
