---
const { href, content, class: className } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={`${className} rounded-full mb-4 hover:bg-[#212121]/90 relative sm:mb-0 text-base font-light px-4 py-2 flex justify-center items-center gap-4 bg-[#212121]`}
>
  <figure class="w-6 h-6">
    <slot name="icon" />
  </figure>
  {content}
</a>

<style>
  @keyframes glowing {
    from {
      background-position: 400% 0;
    }
    to {
      background-position: 0 0;
    }
  }
</style>
