---
import LinkButton from "./LinkButton.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import WebIcon from "./icons/WebIcon.astro";

const { web, git } = Astro.props;
---

<div
  id="container"
  class="w-full aspect-[9/12] gap-4 sm:gap-0 sm:aspect-[15/9] bg-[url('/background/Card.svg')] group rounded-xl my-4 overflow-hidden flex flex-col justify-center items-center relative"
>
  <slot name="img" />
  <div
    id="buttons"
    class="w-full group flex flex-col justify-center items-center gap-4 sm:gap-8"
  >
    <LinkButton href={web}>
      <WebIcon slot="icon" />
       Ir al sitio web
    </LinkButton>
    <LinkButton href={git}>
      <GithubIcon slot="icon" color="white" />
       Ver código fuente
    </LinkButton>
  </div>
</div>
