<ol class="relative border-s-0 sm:border-s border-black dark:border-white">
  <li
    class="mb-5 sm:ms-4 p-2 bg-[#212121] sm:border sm:border-white rounded-lg"
  >
    <div
      class="hidden sm:block absolute w-3 h-3 bg-black rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-white"
    >
    </div>
    <h1
      class="text-lg font-semibold text-black dark:text-white mb-2 text-balance"
    >
      Desarrollador Full stack / Autónomo
    </h1>
    <div class="flex flex-col-reverse sm:flex-col gap-2">
      <p class="text-base font-normal text-black/60 dark:text-white/70">
        Desarrollador Full Stack con experiencia en el diseño, implementación y
        mantenimiento tanto del lado del servidor como del cliente. Competente
        en tecnologías front-end y back-end, brindando soluciones integrales
        para aplicaciones web y móviles. Especializado en el uso de herramientas
        como React y Node.js para ofrecer experiencias de usuario completas y
        funcionales.
      </p>
      <time
        class="mb-1 text-sm font-normal leading-none text-black/70 dark:text-white"
        >Ene 2022 - Actualidad</time
      >
    </div>
  </li>
  <li
    class="mb-5 sm:ms-4 p-2 bg-[#212121] sm:border sm:border-white rounded-lg"
  >
    <div
      class="hidden sm:block absolute w-3 h-3 bg-black rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-white"
    >
    </div>
    <img
      src="/experience/macabi.svg"
      alt="Macabi"
      class="w-2/5 sm:w-[15%] my-2"
    />
    <h1
      class="text-lg font-semibold text-black dark:text-white mb-2 text-balance"
    >
      Coordinador de educación no formal
    </h1>
    <div class="flex flex-col-reverse sm:flex-col gap-2">
      <p class="text-base font-normal text-black/60 dark:text-white/70">
        Líder de equipos de 30 jóvenes de 17 a 21 años, centrados en la
        educación no formal y la transmisión de valores mediante actividades
        lúdicas.
      </p>
      <time
        class="mb-1 text-sm font-normal leading-none text-black/70 dark:text-white"
        >Mar 2017 - Ene 2024</time
      >
    </div>
  </li>
  <li
    class="mb-5 sm:ms-4 p-2 bg-[#212121] sm:border sm:border-white rounded-lg"
  >
    <div
      class="hidden sm:block absolute w-3 h-3 bg-black rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-white"
    >
    </div>
    <img
      src="/experience/cryptonite.webp"
      alt="Cryptonite"
      class="w-2/5 sm:w-[15%] my-2"
    />
    <h1
      class="text-lg font-semibold text-black dark:text-white mb-2 text-balance"
    >
      Desarrollador Frontend
    </h1>
    <div class="flex flex-col-reverse sm:flex-col gap-2">
      <p class="text-base font-normal text-black/60 dark:text-white/70">
        Desarrollo, mantenimiento y evolución de aplicaciones web y móviles.
        Especializado en React y React Native, con nociones básicas de diseño
        UX/UI.
      </p>
      <time
        class="mb-1 text-sm font-normal leading-none text-black/70 dark:text-white"
        >Mar 2022 - Feb 2023</time
      >
    </div>
  </li>
</ol>
