---
import ArrowUpIcon from "./icons/ArrowUpIcon.astro";
---

<a
  href="#"
  class="w-20 h-20 rounded-full border bg-[#212121] border-white flex justify-center items-center fixed right-6 bottom-16"
>
  <ArrowUpIcon />
</a>

<style>
  a {
    animation: show-arrow linear both;
    animation-timeline: scroll(root);
    animation-range: 50vh 100vh;
  }

  @keyframes show-arrow {
    0% {
      display: none;
      opacity: 0;
    }
    50% {
      display: flex;
      opacity: 0;
    }
    100% {
      display: flex;
      opacity: 1;
    }
  }
</style>
